*{
    padding: 0;
    margin: 0;
}
body{
    background-color: bisque;
}

h1{
    background-color:darkslategrey;
    color: rgb(191, 184, 184);
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    font-size: 4rem;
    font-weight: 900;
}

.choices{
   
   
    align-items: center;
    display: flex;
    text-align: center;
    gap: 3rem;
    margin-top: 10rem;
    margin-left: 25rem;

}

#name{
    font-size: 30px;
    font-weight: bold;

}


.choice:hover{
    cursor: pointer;
   opacity: 0.5;
   background-color: rgb(214, 18, 18);
}
img{
    height: 160px;
    width: 160px;
    gap: 20px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    text-align: center;
}
.score{
    align-items: center;
    text-align: centre;
    font-weight: bold;color: black;
    font-size: 30px;
    display: flex;
    gap: 5rem;
    margin-top: 4rem;
    margin-left:35rem;

}

#msg{
    font-size: 35px;
    
    background-color: black;
    color: white;
    margin-top: 6rem;
    margin-left: 35rem;
    display: inline;
    border-radius:10px;
    line-height: 35px;
}
    


